body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.container{
    width:300px;
}

form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:10px;
}

button{
    padding:10px;
    cursor:pointer;
}

#successMsg{
    text-align:center;
    font-weight:bold;
}